{% extends '../base.html' %}
{% autoescape None %}
{% block content %}
{% from db import STATUS_ROLE_ACTIVE %}
<div class="main_header pt10 pb10 clear">
    <div class="fl bread_nav">
        <a href="{{ reverse_url('backoffice_role_list') }}?lang={{lang}}" class="pl10 ml10">{{translate('role.role_list')}}</a><span> &gt; {{translate('role.edit')}}</span>
    </div>
    <div class="fr clear">
        <a href="javascript:void(0);" onclick="self.location=document.referrer;" class="fl back_btn pl20 mr20">
            <i class="back_i"></i>{{translate('base.return')}}</a>
    </div>
</div>
<div class="edit_info ml10 mr10 pl10 pr10">
    <div>
        <h3 class="list_title pr add_manage">{{translate('role.edit')}}<i class="list_title_i add_manage_i"></i></h3>
    </div>
    <div class="edit_info_detail">
        <form id="role_edit" name="role_add" method="post"
              action="{{ reverse_url('backoffice_role_edit', role.oid) }}">
            {% raw xsrf_form_html() %}
            <table class="table_form">
                <tr>
                    <th width="40%">
                        <span class="necessary">*</span>{{translate('role.code')}}
                    </th>
                    <td>
                        <input id="code" name="code" class="input_text" type="text" placeholder="{{translate('role.input_code')}}"
                               maxlength="16" disabled="disabled" value="{{ role.code }}">
                    </td>
                </tr>
                <tr>
                    <th width="40%">
                        <span class="necessary">*</span>{{translate('role.name')}}
                    </th>
                    <td>
                        <input id="title" name="title" class="input_text" type="text" placeholder="{{translate('role.input_nmae')}}"
                               maxlength="64" value="{{ role.title }}">
                    </td>
                </tr>
                <tr>
                    <th class="vt pt10">{{translate('role.remark')}}</th>
                    <td>
                            <textarea id="content" name="content" class="textarea" placeholder="{{translate('role.input_remark')}}"
                                      maxlength="256">
                                {{ role.content }}
                            </textarea>
                    </td>
                </tr>
                <tr>
                    <th>{{translate('role.role_status')}}</th>
                    <td>
                        <label class="table_switch">
                            <input id="status" name="status" type="checkbox"
                                   {% if role.status == STATUS_ROLE_ACTIVE %}checked="checked"{% end %}>
                            <i></i>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                            <span id="error_msg" class="cl_danger">

                            </span>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <a id="submit" href="javascript:;" class="btn btn_primary mt15">{{translate('base.submit')}}</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#submit").click(function () {
            display_loading();
            var _t_form = $("#role_edit");
            var form_data = _t_form.serialize();
            var title = $("#title").val();
            if ($.trim(title) === "") {
                $("#error_msg").html("{{translate('role.input_code')}}");
                return;
            }
            ajaxPost(_t_form.attr("action"), form_data, function (result) {
                if (result.code === 0) {
                    tip_msg("{{translate('role.update_fail')}}", 2000);
                } else if (result.code === 1) {
                    tip_msg("{{translate('role.update_success')}}", 2000, function () {
                        window.location.href = "{{ reverse_url('backoffice_role_list') }}?lang={{lang}}";
                    });
                } else if (result.code === -2) {
                    $("#error_msg").html("{{translate('role.input_name')}}");
                }
                remove_loading();
            });
        });
    });
</script>
{% end %}