{% autoescape None %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{{translate('base.title')}}">
    <meta name="description" content="{{translate('base.title')}}">
    <title>{{translate('base.title')}}</title>
    <!--<link rel="shortcut icon" href="{{ static_url('images/favicon.ico') }}">-->
    <link rel="stylesheet" href="{{ static_url('css/public/public.css') }}">
    {% if not dark_skin %}
    <link rel="stylesheet" href="{{ static_url('css/base.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/default/user_list.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ static_url('css/base_dark.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/default/user_list_dark.css') }}">
    {% end %}
    <script src="{{ static_url('js/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ static_url('js/plugins/jquery.cookie.1.4.1.min.js') }}"></script>
    <script src="{{ static_url('js/plugins/layer/layer.js') }}"></script>
    <script src="{{ static_url('js/plugins/laydate/laydate.js') }}"></script>
    <script src="{{ static_url('js/public.js') }}"></script>
    <script src="{{ static_url('js/base_utils.js') }}"></script>


    {% block js %}
    <script src="{{ static_url('js/ajaxfileupload.js') }}"></script>

    {% end %}

</head>
<body>
<div class="header clear">
    <!--<div class="fl header_logo">-->
        <!--<a href="javascript:void (0)">-->
            <!--<img src="{{ static_url('images/default/header_logo.png') }}" alt="">-->
        <!--</a>-->
    <!--</div>-->
    <ul class="fl header_nav clear">
        {% set s_menu_list = None %}
        {% set f_menu_list = user_menu %}
        {% if f_menu_list %}
        {% for f_menu in f_menu_list %}
        {% if not f_menu.disabled and f_menu.has_perm %}
        <li class="fl {% if f_menu.is_active %}active{% end %}">
            <a href="{% if not f_menu.is_active %}{{ f_menu.path }}?lang={{lang}}{% else %}javascript:;{% end %}">
                {%if lang=='en' %} {{ f_menu.en_title }} {%else%} {{ f_menu.title }} {%end%}
                <!--{{ f_menu.title }} -->
            </a>
        </li>
        {% end %}
        {% if f_menu.is_active and not s_menu_list %}
        {% set s_menu_list = f_menu.sub_menu_list %}
        {% end %}
        {% end %}
        {% end %}
    </ul>
    <div class="fr header_user clear">
        {#        <div class="switch_skin fl pr mr30">#}
        {#            <i class="switch_i"></i>#}
        {#        </div>#}
        <a class="change_theme fl">变更主题</a>
        <div class="user_info fl mr20 pr">
            <div class="user_img pr clear">
                <img class="fl mr10" src="{{ static_url('images/default/user_img.png') }}">
                <div class="user_name ellipsis fl">{{ current_user.name }}</div>
            </div>
            <div class="outer_login pa"><i class="outer_i"></i>{{translate('logout')}}</div>
        </div>
    </div>
</div>
<div class="main clear">
    <div class="left_area fl pr">
        {% if s_menu_list %}
        {% for s_menu in s_menu_list %}
        {% if not s_menu.disabled and s_menu.has_perm %}
        <ul class="left_menu {% if s_menu.is_active %} active {% end %}">
            <li class="pr {% if s_menu.sub_menu_list %} first_menu {% else %} only_menu {% if s_menu.is_active %} active {% end %} {% end %}">

                <a href="{% if not s_menu.is_active %} {{ s_menu.path }}?lang={{lang}} {% else %}javascript:;{% end %}">
                    {%if lang=='en' %} {{ s_menu.en_title }} {%else%} {{ s_menu.title }} {%end%}
                    <!--{{ s_menu.title }}-->
                </a>
                {% if s_menu.style_name_list %}
                <i class="{{ s_menu.style_name_list[0] }}"></i>
                {% end %}
            </li>
            {% for thr_menu in s_menu.sub_menu_list %}
            {% if 'config' not in thr_menu.flags and 'report' not in thr_menu.flags %}
            {% if not thr_menu.disabled and thr_menu.has_perm %}
            <li class="pr {% if thr_menu.is_active %}active{% end %}">
                <a href="{% if not thr_menu.is_active %}{{ thr_menu.path }}??lang={{lang}}{% else %}javascript:;{% end %}">
                    {{ thr_menu.title }}
                </a>
                {% if thr_menu.style_name_list %}
                <i class="{{ thr_menu.style_name_list[0] }}"></i>
                {% end %}
            </li>
            {% end %}
            {% end %}
            {% end %}
        </ul>
        {% end %}
        {% end %}
        {% end %}
        <div class="contact_info">
        </div>
    </div>
    <div class="right_area">

        {% block content %}
        <h2>请在此填充内容</h2>
        {% end %}
    </div>
</div>
<script>
    // 获取到当前页面的相对路径
    function GetUrlRelativePath() {
        var url = document.location.toString();
        var arrUrl = url.split("//");

        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);//stop省略，截取从start开始到结尾的所有字符

        if (relUrl.indexOf("?") != -1) {
            relUrl = relUrl.split("?")[0];
        }
        return relUrl;
    }
    $(function () {
        if (GetUrlRelativePath().indexOf("reports") === -1 || GetUrlRelativePath() === "/backoffice/reports/subject/analysis/list/"){
            $('.change_theme').hide()
        }
        var url = window.location.href;
        var path = url.split('?');
        var param = path[1];
        var new_url = '';
        if (param === "dark_skin=False"){
            new_url = path[0] + '?dark_skin=True'
        }
        else{
            new_url = path[0] + "?dark_skin=False"
        }
        $('.change_theme').attr('href', new_url);
        $(".outer_login").click(function () {
            var cookie_id = "38B9CFE3-5710-4B49-9124-3678481AEEF7";
            $.removeCookie(cookie_id, {path: '/backoffice/login/'});
            window.location.href = "{{ reverse_url('backoffice_logout') }}?lang={{lang}}";
        });

        $(".user_img").on("click", function () {
            window.location.href = "{{ reverse_url('backoffice_account') }}?lang={{lang}}";
        });

        setTimeout(function () {
            $(".system_notice").slideDown(320);
        }, 300);
        //关闭抽题更新提示：
        $(document).on("click", ".close_notice", function () {
            $(this).parents(".system_notice").hide();
        });
    });
</script>
</body>
</html>