{% extends '../base.html' %}
{% autoescape None %}
{% block content %}
{% from db import STATUS_USER_ACTIVE, STATUS_USER_INACTIVE %}
<div class="ml10 mr10 pt8 pb8 clear">
    <a href="{{ reverse_url('backoffice_user_add') }}?lang={{lang}}" class="btn btn_i btn_primary btn_lg pr fl">{{translate('user.add')}}<i
            class="add_manage_i"></i></a>
    <a href="javascript:window.location.reload();" class="refresh_btn pl20 mr20 fr mt10">
        <i class="refresh_i"></i>{{translate('base.refresh')}}
    </a>
</div>
<div class="filter_box clear">
    <div class="filter_condition fl">
        <span>{{translate('base.filter')}}：</span>
        <input id="search_name" type="text" class="account" placeholder="{{translate('user.filter.name')}}"
               value="{{ string_display(search_name, '') }}">
        <input id="search_phone" type="text" class="username" placeholder="{{translate('user.filter.phone')}}"
               value="{{ string_display(search_phone, '') }}">
    </div>
    <div class="filter_btn fr">
        <a href="#" class="btn btn_i btn_primary pr mr5 search_data">{{translate('base.search')}}<i class="btn_search"></i></a>
        <a href="{{ reverse_url('backoffice_user_list') }}?lang={{lang}}" class="btn btn_default">{{translate('base.cancel')}}</a>
    </div>
</div>
<div class="data_list pr">
    <div class="clear">
        <div class="fl">
            <h3 class="list_title pr">{{translate('base.data_list')}}<i class="list_title_i"></i></h3>
        </div>
        <div class="fr">
            <select>
                <option value="排列方式">{{translate('base.sort')}}</option>
            </select>
        </div>
    </div>
    <div>
        <table class="table_list">
            <tr>
                <th width="50"></th>
                <!--<th>用户账号</th>-->
                <!--<th>姓名</th>-->
                <!--<th>邮箱地址</th>-->
                <!--<th>手机号码</th>-->
                <!--<th>添加时间</th>-->
                <!--<th>最后登录时间</th>-->
                <!--<th>状态</th>-->
                <!--<th>操作</th>-->

                <th>{{translate('user.account')}}</th>
                <th>{{translate('user.name')}}</th>
                <th>{{translate('user.email')}}</th>
                <th>{{translate('user.phone')}}</th>
                <th>{{translate('base.add_time')}}</th>
                <th>{{translate('user.last_login_time')}}</th>
                <th>{{translate('base.status')}}</th>
                <th>{{translate('base.operation')}}</th>
            </tr>
            {% set user_list = paging.page_items %}
            {% if user_list %}
            {% for user in user_list %}
            <tr>
                <td class="tc">
                    {% if not user.superuser %}
                    <i class="checkbox_i" oid="{{ user.oid }}"></i>
                    {% end %}
                </td>
                <td>{{ string_display(user.login_name) }}</td>
                <td>{{ string_display(user.name) }}</td>
                <td>{{ string_display(user.email) }}</td>
                <td>{{ string_display(user.mobile) }}</td>
                <td>{{ datetime_format(user.created_dt) }}</td>
                <td>{{ datetime_format(user.login_datetime) }}</td>
                <td>
                    {% if not user.superuser %}
                    <label class="table_switch">
                        <input oid="{{ user.oid }}" class="status_switch" type="checkbox"
                               {% if user.status == STATUS_USER_ACTIVE %}checked="checked"{% end %}>
                        <i></i>
                    </label>
                    {% end %}
                </td>
                <td class="tools">
                    <a href="{{ reverse_url('backoffice_user_permission') }}?manager_id={{ user.oid }}&lang={{lang}}"
                       class="setting_i fl tips" data-name="{{translate('role.permission_set')}}"></a>
                    <a href="{{ reverse_url('backoffice_user_edit') }}?manager_id={{ user.oid }}&lang={{lang}}"
                       class="edit_i fl tips" data-name="{{translate('base.edit')}}"></a>

                    {% if not user.superuser %}
                    <a href="#" class="delete_i fl delete_manager tips" oid="{{ user.oid }}" data-name="{{translate('base.delete')}}"></a>
                    {% end %}
                </td>
            </tr>
            {% end %}
            {% else %}
            <tr>
                <td colspan="6" align="center">"{{translate('base.no_data')}}"</td>
            </tr>
            {% end %}
        </table>
        <div class="table_control clear">
            <div class="fl"><i class="checkbox_i mr25 ml15"></i>{{translate('base.check_all')}}</div>
            <div class="fl ml20">
                <select id="selected_operation">
                    <option value="active">{{translate('base.enable')}}</option>
                    <option value="inactive">{{translate('base.disable')}}</option>
                    <option value="delete">{{translate('base.delete')}}</option>
                </select>
            </div>
            <div class="fl">
                <a href="#" class="btn btn_primary ml20 btn_sm selected_change">{{translate('base.confirm')}}</a>
            </div>
        </div>
    </div>
</div>
<div class="fix_page clear {% if not user_list %}dis_none{% end %}">
    <div class="fr">
        <span>{{translate('base.jump_to')}}</span>
        <input id="jump_num" type="text" class="jump_num" onkeyup="do_jump_2_page(event, this.value);">
        <span>{{translate('base.page')}}</span>
    </div>
    <div class="paging fr mr10">
        <a href="javascript:;" onclick="do_jump_2_page(event, 1);"
           {% if paging.current_page_num== 1 %}class="btn_disabled" {% end %}>{{translate('base.first_page')}}</a>
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.previous_page_num }});"
           {% if paging.current_page_num== 1 %}class="btn_disabled" {% end %}>{{translate('base.previous_page')}}</a>
        {{ paging.other_pages_html }}
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.next_page_num }});"
           {% if paging.current_page_num== paging.total_pages %}class="btn_disabled" {% end %}>{{translate('base.next_page')}}</a>
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.total_pages }});"
           {% if paging.current_page_num== paging.total_pages %}class="btn_disabled" {% end %}>{{translate('base.last_page')}}</a>
    </div>
    <div class="fr mr20">
        {{translate('base.total')}}
        <span class="page_all">{{ paging.total_pages }}</span>
        {{translate('base.page')}}/
        <span class="data_all">{{ paging.total_items }}</span>
        {{translate('base.items_data')}}
    </div>
    <div class="fr mr15">
        <span>{{translate('base.each_page')}}</span>
        <select id="per_page_quantity" name="per_page_quantity" onchange="do_jump_2_page(event, 1);">
            {% for num in [10, 20, 50, 100, 200] %}
            <option value="{{ num }}" {% if paging.per_page_quantity== num %}selected{% end %}>{{ num }}</option>
            {% end %}
        </select>
        <span>{{translate('base.items')}}</span>
    </div>
</div>
<script>
    function do_jump_2_page(event, to_page_num) {
        if (event) {
            var is_checked = false;
            if (event.type === "keyup" && event.keyCode !== 13) {
                is_checked = true;
            }
            if (is_checked) {
                $("#jump_num").val(to_page_num.replace(/[^\d]/g, ''));
            } else {
                // 填充请求参数
                display_loading();
                var params = {
                    'page': to_page_num,
                    'per_page_quantity': $('#per_page_quantity').val() || {{ per_page_quantity }},
                    'search_name': $('#search_name').val(),
                    'search_phone': $('#search_phone').val(),
                    'lang':"{{lang}}",
                };
                window.location.href = "{{ reverse_url('backoffice_user_list') }}?" + dict_2_url_params(params);
            }
        }
    }
</script>
<script>
    function checkedNum() {
        var checked_num = $(".city_box .checkbox_i.checked");
        if (checked_num.length > 0) {
            $(".province_box li.active").find(".city_num").removeClass("dis_none").html(checked_num.length);
        }
        else {
            $(".province_box li.active").find(".city_num").addClass("dis_none");
        }
    }
    function initNum(arr) {
        var p_box = $(".province_box");
        for(var i = 0;i<arr.length;i++){
            var obj = p_box.find("li[data-code='" + arr[i].substring(3,5)+"0000']").find(".city_num");
            obj.removeClass("dis_none");
            obj.html(parseInt(obj.html()==""?0:obj.html())+1);
        }
    }
    
    $(function () {
        // 选择地区：
        var city_data = {{ ad_data }};
        $(".choose_area_i").on("click", function () {
            var user_id = $(this).attr('oid');
            display_loading();
            ajaxGet("/backoffice/user/region/distribute/" + user_id + "/", {}, function (ready_result) {
                remove_loading();
                if (ready_result.code === 1) {
                    var ready_data = ready_result.data;
                    var city_checked = [];
                    city_checked = city_checked.concat(ready_data);
                    layer.open({
                        type: 1,
                        title: '选择地区',
                        area: ['600px', 'auto'],
                        btn: ["确认", "取消"],
                        content: '<div class="area_box clear"><ul class="province_box fl mr10 ml20 mt20"></ul><ul class="city_box fl mt20"></ul> </div>',
                        success: function () {
                            //加载省份信息：
                            var provinceBox = $(".province_box");
                            var cityBox = $(".city_box");
                            for (var i = 0; i < city_data.length; i++) {
                                provinceBox.append('<li title="' + city_data[i].name + '" data-code="' + city_data[i].code + '">' + city_data[i].name + '<div class="city_num pa dis_none"></li>')
                            }
                            initNum(ready_data);
                            //请求城市信息：
                            $(".area_box").on("click", ".province_box li", function () {
                                if ($(this).hasClass("active")) {
                                    return false;
                                } else {
                                    $(".province_box li").removeClass("active");
                                    $(this).addClass("active");
                                    //筛选城市并渲染：
                                    var p_code = $(this).attr("data-code");
                                    var p_name = $(this).attr("title");
                                    var p_obj = city_data.filter(function (e) {
                                        return e.code === p_code;
                                    })[0].sub;
                                    cityBox.empty().append('<li class="province_choose clear"><div class="checkbox_all fl ellipsis" title="' + p_name + '" data-code="' + p_code + '"><i class="checkbox_i"></i>全省</div></li><li class="city_choose clear"></li>');
                                    for (var i = 0; i < p_obj.length; i++) {
                                        $(".city_box .city_choose").append('<div class="checkbox fl ellipsis" title="' + p_obj[i].name + '" data-code="' + p_obj[i].code + '"><i class="checkbox_i"></i>' + p_obj[i].name + '</div>')
                                    }
                                    for (var j = 0; j < city_checked.length; j++) {
                                        $(".province_choose").find("div[data-code='" + city_checked[j].substring(3) + "']").find(".checkbox_i").addClass("checked");
                                        $(".city_choose").find("div[data-code='" + city_checked[j].substring(3) + "']").find(".checkbox_i").addClass("checked");
                                    }
                                }
                            });
                            cityBox.on("click", ".checkbox", function () {
                                if (!$(this).find(".checkbox_i").hasClass("checked")) {
                                    $(this).parents(".city_box").find(".checkbox_all .checkbox_i").removeClass("checked");
                                    $(this).find(".checkbox_i").addClass("checked");
                                    city_checked.remove("[p]" + $(this).parents(".city_box").find(".checkbox_all").attr("data-code"));
                                    city_checked.push("[c]" + $(this).attr("data-code"));
                                }
                                else {
                                    $(this).find(".checkbox_i").removeClass("checked");
                                    city_checked.remove("[c]" + $(this).attr("data-code"));
                                }
                                checkedNum();
                            });
                            // 全市互斥：
                            cityBox.on("click", ".checkbox_all", function () {
                                if (!$(this).find(".checkbox_i").hasClass("checked")) {
                                    $(this).find(".checkbox_i").addClass("checked");
                                    $(this).parent().siblings(".city_choose").find(".checkbox").each(function () {
                                        if ($(this).find(".checked")) {
                                            city_checked.remove("[c]" + $(this).attr("data-code"));
                                        }
                                    });
                                    city_checked.push("[p]" + $(this).attr("data-code"));
                                    $(this).parents(".city_box").find(".city_choose .checkbox_i").removeClass("checked");
                                }
                                else {
                                    $(this).find(".checkbox_i").removeClass("checked");
                                    city_checked.remove("[p]" + $(this).attr("data-code"));
                                }
                                checkedNum();
                            });
                        },
                        yes: function (index) {
                            if (city_checked.length === 0) {
                                tip_msg("请至少选择一个", 1000)
                            } else {
                                display_loading();
                                var data = {'region_list': city_checked};
                                ajaxPost("/backoffice/user/region/distribute/" + user_id + "/", data, function (result) {
                                    if (result.code === 1) {
                                        success_msg("管理区域设置成功！", 2000);
                                        layer.close(index);
                                    } else if (result.code === -1) {
                                        tip_msg("用户不存在或已删除！", 2000);
                                    } else {
                                        fail_msg("保存失败，请重试！", 2000);
                                    }
                                    remove_loading();
                                });
                            }
                        },
                        end: function () {
                            // 销毁已选城市数组对象：
                            city_checked = [];
                        }
                    })
                } else if (ready_result.code === -1) {
                    tip_msg("用户不存在或已删除！", 2000);
                } else {
                    fail_msg("初始化信息失败，请重试！", 2000);
                }
                remove_loading();
            });
        });
        $('.selected_change').on('click', function () {
            var operation = $('#selected_operation').val();
            var selected_manager_ids = [];
            var obj_list = $('.table_list').find('.checkbox_i.checked');
            for (var i = 0; i < obj_list.length; i++) {
                var obj = obj_list[i];
                if ($(obj).attr('oid')) {
                    selected_manager_ids.push($(obj).attr('oid'));
                }
            }
            var btn=["{{translate('base.sure')}}", "{{translate('base.cancel')}}"];
            if (selected_manager_ids.length > 0) {
                var data = {
                    'manager_ids': selected_manager_ids
                };
                if (operation === 'delete') {
                    confirm_dialog("{{translate('base.warn')}}",btn, "{{translate('user.sure_delete')}}", function () {
                        display_loading();
                        var url = "{{ reverse_url('backoffice_user_delete') }}";
                        ajaxPost(url, data, function (ret) {
                            if (ret.code == 1) {
                                tip_msg("{{translate('user.delete_success')}}", 2000, function () {
                                    window.location.href = "{{ reverse_url('backoffice_user_list') }}";
                                });
                            } else {
                                tip_msg("{{translate('user.delete_fail')}}", 2000);
                            }
                        });
                        remove_loading();
                    });

                } else if (operation === 'active' || operation === 'inactive') {

                    data['target_status'] = operation === 'active' ? {{ STATUS_USER_ACTIVE }} :{{ STATUS_USER_INACTIVE }};
                    var url = "{{ reverse_url('backoffice_user_status') }}";

                    confirm_dialog("{{translate('base.warn')}}",btn, "{{translate('user.sure_update_status')}}", function () {
                        display_loading();
                        ajaxPost(url, data, function (ret) {
                            if (ret.code !== 1) {
                                tip_msg("{{translate('user.update_status_fail')}}", 2000);
                            } else {
                                tip_msg("{{translate('user.update_status_success')}}", 2000, function () {
                                    window.location.href = "{{ reverse_url('backoffice_user_list') }}";
                                });

                            }
                        });
                        remove_loading();
                    });

                } else {
                    tip_msg("{{translate('base.batch_operation_fail')}}", 2000);
                }
            } else {
                tip_msg("{{translate('base.select_data')}}", 2000);
            }

        });

        $('.status_switch').on('click', function () {
            var obj = $(this);
            var manager_id = $(this).attr('oid');
            var target_status = $(this).prop('checked') ? {{ STATUS_USER_ACTIVE }} :{{ STATUS_USER_INACTIVE }};
            if (manager_id && target_status) {
                var data = {
                    'manager_ids': [manager_id],
                    'target_status': target_status
                };
                var url = "{{ reverse_url('backoffice_user_status') }}";
                display_loading();
                ajaxPost(url, data, function (ret) {
                    if (ret.code !== 1) {
                        tip_msg("{{translate('user.update_status_fail')}}", 2000, function () {
                            if (target_status === {{ STATUS_USER_ACTIVE }}) {
                                obj.prop('checked', '')
                            } else {
                                obj.prop('checked', 'checked')
                            }
                        });
                    } else {
                        tip_msg("{{translate('user.update_status_success')}}", 2000);
                    }
                });
                remove_loading();

            } else {
                tip_msg("{{translate('user.update_status_fail')}}", 2000, function () {
                    if (target_status === {{ STATUS_USER_ACTIVE }}) {
                        obj.prop('checked', '')
                    } else {
                        obj.prop('checked', 'checked')
                    }
                });
            }
        });

        $('.delete_manager').on('click', function () {
            var manager_id = $(this).attr('oid');
            if (manager_id) {
                var data = {
                    'manager_ids': [manager_id]
                };
                var url = "{{ reverse_url('backoffice_user_delete') }}";
                var btn=["{{translate('base.sure')}}", "{{translate('base.cancel')}}"];
                confirm_dialog("{{translate('base.warn')}}", btn,"{{translate('user.sure_delete')}}", function () {
                    display_loading();
                    ajaxPost(url, data, function (ret) {
                        if (ret.code === 1) {
                            tip_msg("{{translate('user.delete_success')}}", 2000, function () {
                                window.location.href = "{{ reverse_url('backoffice_user_list') }}";
                            });
                        } else {
                            tip_msg("{{translate('user.delete_fail')}}", 2000);
                        }
                    });
                    remove_loading();
                });
            }
        });

        $('.search_data').on('click', function () {
            var param_dict = {
                'search_name': $('#search_name').val(),
                'search_phone': $('#search_phone').val(),
                'per_page_quantity': $('#per_page_quantity').val(),
                'lang':"{{lang}}",

            };
            window.location.href = "{{ reverse_url('backoffice_user_list') }}?" + dict_2_url_params(param_dict);
        });
    })
</script>
{% end %}